@media (max-width: 1200px) {
  .join-us__input,
  .join-us__select {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .join-us__input,
  .join-us__select {
    width: 100%;
  }

  .article__center {
    display: none;
    text-align: center;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__right {
    margin-bottom: var(--gap);
  }
}

/* Данный запрос говорит о том, что при ширине экрана меньше 1024,
будет сробатывать он будет иметь подобные значения */

@media (max-width: 992px) {
  .header__nav {
    position: fixed;
    padding: 20px;
    right: 0;
    top: 80px;
    margin-right: 0;
    width: 45%;
    max-width: 300px;
    height: calc(100vh - 80px);
    z-index: 1000;
    overflow-y: auto;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .header__nav--visible {
    transform: none;
  }

  .header__btn {
    margin-right: 7px;
    padding: 10px 20px;
  }

  .header__list {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .header__link {
    display: inline-block;
    width: 100%;
    font-size: 18px;
  }

  .burger__btn {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172b9;
    cursor: pointer;
  }

  .burger__line {
    position: absolute;
    /* left: 50%; */
    /* чтобы выравнить все паалочки по центру относительно кнопки */
    width: 20px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    /* Использовать данное свойство currentColor удобно тем,
    что при применении эффектов,
    меняется как рамка,
    так и линии */
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out;
  }

  .burger__line:nth-child(1) {
    top: 13px;
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:nth-child(1) {
    bottom: auto;
    left: 27%;
    top: 50%;
    transform: rotate(45deg);
  }

  .burger--active .burger__line:nth-child(3) {
    top: 50%;
    left: 24%;
    transform: rotate(-45deg);
  }

  .stop--scroll {
    overflow: hidden;
  }

  .hero__content {
    width: 75%;
    /* увеличаем текст по ширине */
  }

  .services__list {
    --offsets: 2;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
  }

  .services__item {
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets)));
  }

  /* берём 100% ширины родителя и указ. что нужны отступы --gap(переменная)
и делим на количество блоков */

  /* убираем данные отступы, так как в ряд идет уже 2 карточки, а  не 4 */

  .services__item:not(:nth-child(2n)) {
    margin-right: 0;
  }
  /* а тут уже их добавляем для каждой второй карточки */

  .articles__list {
    --offsets: 1;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;

  }

  .articles__item {
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));

  }

  .join-us__form {
    padding: 0px;
  }

  .footer__container {
    flex-direction: column;
    /* теперь лого сверху,
  а всё остальное меню внизу. Смотрится более гармонично */
  }

  .clients__item {
    padding: 20px;
    /* сделали внутренний отступ чуть меньше,теперь текс читается легче */
  }

  .clients__list {
    --offsets: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .clients__item {
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  }

}

/* Данный запрос говорит о том, что при ширине экрана меньше 992,
будет сробатывать он будет иметь подобные значения */

@media (max-width: 768px) {

  .services__list {
    --offsets: 2;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
  }

  .services__item {
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets)));
  }

  .services__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .articles__list {
    --offsets: 1;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;
  }

  .articles__item {
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  }

  .blog__link {
    flex-direction: column;
  }

  .blog__preview {
    height: 100%;
  }

  .footer__item:not(:last-child) {
    margin-right: 15px;
  }

  .footer__item {
    margin-right: 15px;
  }

  .footer__link {
    font-size: 11px;
  }
}

@media (max-width: 577px) {
  :root {
    --gap: 15px;
  }

  .header {
    padding: 15px 0;
  }

  .header__logo {
    width: 80px;
  }

  .header__btn {
    padding: 12px 21px;
  }

  .hero__content {
    width: 100%;
  }

  .hero {
    padding-top: 29px;
    padding-bottom: 0;
    background-image: none;
  }

  .hero__title {
    margin-bottom: 12px;
  }

  .hero__descr {
    margin-bottom: 18px;
  }

  .hero__wrapper {
    width: 100%;
  }

  .hero__btn {
    width: 100%;
    margin-bottom: 17px;
  }

  .section__offset {
    padding: 60px 0;
  }

  .services__item {
    padding: 40px 10px;
  }

  .services__title {
    margin-bottom: 15px;
    text-align: left;
  }

  .section__descr {
    margin-bottom: 36px;
    line-height: 23px;
  }

  .services__descr {
    text-align: left;
  }

  .services__icon {
    width: 42px;
    height: 42px;
    margin-bottom: 15px;
  }

  .services__item-title {
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
  }

  .services__item-decst {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }

  .articles__title {
    margin-bottom: 15px;
  }

  .articles__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .articles__item {
    width: 100%;
  }

  .article__center {
    padding-top: 20px;
    display: block;
  }

  .articles__item:nth-child(-n + 2) {
    display: none;
  }

  .article__center--hidden {
    display: none;
  }

  .articles__item.articles__item--visible {
    display: block;
  }

  .blog__link {
    flex-direction: row;
    align-items: center;
  }

  .blog__image {
    flex-shrink: 0;
    width: 88px;
    height: 100%;
  }

  .blog__preview {
    min-height: 191px;
  }

  .blog__text {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .blog__time {
    margin-bottom: 5px;
  }

  .blog__title {
    margin-bottom: 3px;
  }

  .articles__list {
    margin-bottom: calc(-1 * var(--gap));
    /* взяли отступ в виде 15px, умнижили на -1 и получили -15px.
  как раз, чтобы невилировать нижний отступ */
  }

  .clients__item {
    width: 100%;
    margin-bottom: 11px;
  }

  .clients__title {
    margin-bottom: 15px;
  }

  .clients__descr {
    margin-bottom: 31px;
  }

  .clients__list {
    margin-bottom: -13px;
  }

  .contacts__title {
    margin-bottom: 18px;
  }

  .contacts__list {
    flex-wrap: wrap;
  }

  .contacts__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .contacts__item {
    width: 100%;
    padding-top: 37px;
    margin-bottom: 31px;
  }

  .contacts__caption {
    margin-bottom: 10px;
  }

  .contacts__list {
    margin-bottom: -30px;
  }

  .join-us__title {
    text-align: left;
    margin-bottom: 15px;
  }

  .join-us__descr {
    text-align: left;
    margin-bottom: 12px;
    letter-spacing: 0.1px;
  }

  .join-us__form-top {
    flex-wrap: wrap;
    margin-bottom: 14px;
  }

  .join-us__form-right,
  .join-us__form-left {
    width: 100%;
  }

  .join-us__input {
    margin-bottom: 14px;
    padding: 14px 18px;
  }

  .join-us__select {
    padding-left: 14px;
  }

  .join-us__form-left {
    margin-bottom: 15px;
  }

  .join-us__form-bottom {
    justify-content: center;
  }

  .join-us__textarea {
    min-height: 240px;
    padding: 18px 18px;
  }

  .join-us__wrapper {
    width: 100%;
    /* Растягиваем изначально родителя,
  чтобы можно потом растянуть саму кнопку */
  }

  .join-us__btn {
    width: 100%;
    padding-bottom: 22px;
    margin-bottom: 17px;
  }

  .footer__container {
    flex-direction: column-reverse;
    /* перевернули меню  */
  }

  .footer {
    padding: 30px 0;
  }

  .footer__left {
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;
  }

  .footer__nav .footer__list {
    flex-wrap: wrap;
  }

  .footer__nav .footer__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .footer__right {
    flex-wrap: wrap;
    margin-bottom: -17px;
  }

  .footer__nav {
    margin-right: 0;
    width: 100%;
  }

  .footer__item:not(:last-child) {
    margin-right: 31px;
    margin-bottom: 14px;
  }

  .footer__list {
    margin: 0;
    margin-bottom: 14px;
  }

  .social {
    margin-left: -6px;
  }

  .footer__logo {
    width: 80px;
    margin: 0;
    margin-right: auto;
    margin-bottom: -17px;
    padding: 43px 0;
  }

  .footer__copy {
    display: block;
    width: 100%;
    position: relative;
    padding: 16px 0;
    margin-left: -13px;
    text-align: center;
  }

  .footer__copy::before {
    content: "";
    position: absolute;
    width: calc(100% + 30px);
    top: 0;
    height: 1px;
    left: -15px;
    background-color: #c4c4c4;
  }
}
